<f:if condition="{person} !=''">

    <f:then> 
        <div id="accordion-FE"  class="person t3up_accordion accordion accordion-flush accordionstyle-1">
            <f:groupedFor each="{person}" as="colleague" groupBy="area" groupKey="area">
                <f:if condition="{area}">
                    <div class="accordion-item">
                        <div class="accordion-header" id="heading-c{area -> f:format.crop(maxCharacters: 6,append:'')}" >
	                       <a    href="#collapse-{area -> f:format.crop(maxCharacters: 6,append:'')}"
	                             class="accordion-button collapsed justify-content-between" 
	                             type="button" 
	                             data-bs-toggle="collapse" 
	                             data-bs-target="#collapse-{area -> f:format.crop(maxCharacters: 6,append:'')}" 
	                             data-toggle="collapse"
	                             data-target="#collapse-{area -> f:format.crop(maxCharacters: 6,append:'')}" 
	                             aria-expanded="false" 
	                             aria-controls="collapse-{area -> f:format.crop(maxCharacters: 6,append:'')}">
	                             {area}
	                       </a>
	                    </div> 
	                     
	                    <div id="collapse-{area -> f:format.crop(maxCharacters: 6,append:'')}" class="accordion-collapse collapse" aria-labelledby="heading-c{area -> f:format.crop(maxCharacters: 6,append:'')}">
	                       <div class="accordion-body">
	                            <table class="ce-table tablesorter w-100 ce-table-bordered">
	                                <thead>
	                                    <tr>
	                                        <th class="sortierbar col-4" data-sort="string"><f:translate key="LLL:EXT:person/Resources/Private/Language/locallang.xlf:department" /></th>
	                                        <th class="sortierbar col-3" data-sort="string"><f:translate key="LLL:EXT:person/Resources/Private/Language/locallang.xlf:name" /></th>
	                                        <th class="sortierbar col-2"><f:translate key="LLL:EXT:person/Resources/Private/Language/locallang.xlf:office" /></th>
	                                        <th class="sortierbar col-3"><f:translate key="LLL:EXT:person/Resources/Private/Language/locallang.xlf:communication" /></th>
	                                    </tr>
	                                </thead>                    
	                                <f:groupedFor each="{colleague}" as="usergroup" groupBy="area" groupKey="area">   
	                                    <tbody class="person">           
	                                    <f:for each="{usergroup}" as="person">
	                                        <tr {f:if(condition: person.position, then: 'class="leader"')}>
	                                            <td>{person.department}</td>
	                                            <td>
	                                                <f:link.action action="show" arguments="{person : person}"><strong>{person.name}</strong></f:link.action>
	                                                    <f:if condition="person.position">
	                                                        <br /><span class="leitung">{person.position}</span>
	                                                    </f:if>
	                                            </td>   
	                                            <td>{person.office}</td>  
	                                            <td>
	                                                <f:if condition="{person.telephone}">
	                                                    <a class="link-phone" href="tel:{person.telephone}">{person.telephone}</a>
	                                                </f:if>
	                                                <f:if condition="{user.fax}">
	                                                    <br /><a class="link-fax" href="phone:{person.fax}">{person.fax}</a>
	                                                </f:if>
	                                            </td>
	                                        </tr>       
	                                    </f:for>
	                                    <tbody>
	                                </f:groupedFor>              
	                            </table> 
	                       </div>
	                    </div>
                    </div>
                </f:if>
            </f:groupedFor>        
         </div> 
    </f:then>
    <f:else>
        <h3>Es wurde keine Seite mit Personendaten ausgew&auml;lt.</h3>
    </f:else>
</f:if>
  
